*{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}
html,body{
	width: 100%;
	height: 100%;
	font-size: 100px;
}
.header{
	width: 100%;
	border-bottom: 1px solid #B4B4B4;
}
p{
	font-size: 0.12rem;
}
.top{
	width: 100%;
	background-color: #ff8a00;
	overflow: hidden;
}
.top>li:first-child{
	width: 30%;
	float: left;
	margin-left: 0.35rem;
	margin-top: 0.05rem;
}
span{
	font-size: 0.12rem;
}
.top>li:nth-child(3){
	width:6%;
	float: right;
	margin-right: 0.3rem;
	margin-top: 0.1rem;
}
.top>li:nth-child(2){
	width:6%;
	float: right;
	margin-right: 0.2rem;
	margin-top: 0.1rem;
}
.top>li>img{
	width:100%;
}
.renting{
	display: inline-block;
	font-size: 0.12rem;
	padding: 0.1rem;
}
.main{
	width: 100%;
	background-color: #EEEDED;
	text-align: center;
	border-bottom: 0.01rem solid #BCBCBC;
	position: relative;
}
.main>input{
	width: 90%;
	height:0.4rem;
	border-radius: 0.08rem;
	border: 0.01rem solid #B1B0B0;
	margin: 0.1rem 0px;
}
.line{
	width: 0.01rem;
	height: 0.15rem;
	background-color: #360434;
	position: absolute;
	top: 0.24rem;
	right: 0.57rem;
}
.search>img{
	width: 5%;
	position: absolute;
	top: 0.23rem;
	right: 0.31rem;
}
.class{
	width: 100%;
	overflow: hidden;
	font-size: 0.18rem;
	border-bottom: 0.01rem solid #BCBCBC;
}
.class>li{
	width: 25%;
	float: left;
	text-align: center;
	padding: 0.1rem 0px;
	/*margin-left: 25px;*/
}
.class>li>span>img{
	vertical-align: 0.04rem;
}
.img1{
	display: none;
}
.aside{
	width: 100%;
	overflow: hidden;
	position: absolute;
	background-color: white;
	z-index: 99;
}
.aside>ul{
	width: 33.3%;
	float: left;
	box-sizing: border-box;
	padding-left: 0.16rem;
}
.aside>ul:nth-child(1){
	padding: 0;
}
.aside>ul:nth-child(1)>li{
	/*text-align: right;*/
	text-indent: 1em;
}
.aside>ul>li{
	padding:0.09rem 0px;
}
.aside_left>li{
	font-size: 0.18rem;
}
.aside_left>li:nth-child(2){
	padding-bottom: 1.63rem;
	background-color: #C7C5C5;
}
.aside_left>li:nth-child(1){
	color:#ff8a00; 
}
.sun{
	color:#ff8a00; 
}
.hide{
	display: none;
}
.lie{
	width: 100%;
	background-color: white;
	position: absolute;
	z-index: 99;
}
.lie>ul{
	width: 90%;
	margin: 0 auto;
}
.lie>ul>li{
	width: 100%;
	padding:0.08rem 0;
	border-bottom: 0.01rem solid #C9C7C7;
}
.lie>ul>li:last-child{
	border-bottom: none;
}
.xing{
	width: 100%;
	background-color: white;
	position: absolute;
	z-index: 99;
}
.xing>ul{
	width: 90%;
	margin: 0 auto;
}
.xing>ul>li{
	width: 100%;
	padding:0.08rem 0;
	border-bottom: 0.01rem solid #C9C7C7;
}
.xing>ul>li:nth-child(6){
	border-bottom: none;
}
.btn{
	width: 80%;
	height: 0.4rem;
	border:none;
	background-color: #ff8a00;
	color: white;
	margin-left: 0.3rem;
	margin-bottom: 0.2rem;
}
.info{
	width: 100%;
	background-color: white;
	position: absolute;
	z-index: 99;
}
.info1{
	width: 90%;
	border-bottom: 0.01rem solid #CAC9C9;
	margin: 0 auto;
}
.in-fo{
	width: 90%;
	margin: 0 auto;
	margin-top: 0.1rem;
}
.snew{
	width: 100%;
	overflow: hidden;
	padding-bottom: 0.2rem;
}
.snew>li{
	width: 20%;
	float: left;
	text-align: center;
	border:0.01rem solid #DBDADA;
	margin-left: 0.1rem;
	margin-top: 0.1rem;
}
.info1:last-child{
	border-bottom: none;
}
.out{
	width: 100%;
	/*background: #C7C5C5;*/
}
.choose_1{
	width:90%;
	overflow: hidden;
	margin: 0 auto;
	padding: 0.25rem 0px;
	border-bottom: 0.01rem solid #ff8a00;
}
.choose_1>li:first-child{
	width: 30%;
}
.choose_1>li:nth-child(2){
	width: 60%;
	margin-left: 0.1rem;
	overflow: hidden;
}
.choose_1>li{
	float: left;
}
.choose_1>li>img{
	width: 100%;
	height: 0.8rem;

}
.title{
	font-size: 0.15rem;
	padding-bottom: 0.06rem;
}
.toghter{
	display: inline-block;
	padding: 0.03rem;
	border:1px solid #44B34B;
	color: #44B34B;
	margin-top: 0.05rem;
}
.choose_1>li:nth-child(2) span{
	float: right;
	color: #ff8a00;
}
.choose>ul:last-child{
	border-bottom: none;
}
.footer{
	width: 100%;
	background-color: #333333;
	color:#DEDEDE;
}
.found{
	width: 90%;
	margin: 0 auto;
	padding: 0.1rem 0;
	font-size: 0.12rem;
	border-bottom: 0.01rem solid #686868;
}
.last{
	width: 100%;
	overflow: hidden;
}
.last_1{
	width: 40%;
	float: left;
	text-align: center;
	padding: 0.2rem 0px;
}
.last_1>li{
	display: inline-block;
}
.last_1>li:first-child{
	width: 10%;
}
.last_1>li:first-child>img{
	width: 100%;
	vertical-align: 0.1rem;
}
.last_1>li:nth-child(2){
	width: 30%;
	margin-left: 0.15rem;
}
.banq{
	text-align: center;
	line-height: 0.2rem;
}
.meng{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	background:black;
	opacity: 0.3;
	display: none;
}
